<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Add Food</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="icon" href="https://www.flaticon.com/premium-icon/icons/svg/562/562678.svg">

</head>
<body>
<navbar th:insert="blocks/header :: header"/>
<div class="container">
    <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
        <div class="card">
            <div class="card-block" style="padding: 24px;">
                <form name="food" action="/food/add" method="post">
                    <fieldset>

                        <!-- Login Controls -->
                        <div class="form-group">
                            <label for="category">Category</label>
                            <input type="text" class="form-control" id="category" name="category"
                                   placeholder="Category">
                        </div>

                        <div class="form-group">
                            <label for="nme">Name</label>
                            <input type="text" class="form-control" id="nme" name="nme"
                                   placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>

                            <textarea class="form-control" aria-label="Description" name="description" id="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="nme">Price</label>
                            <input type="number" max="8000" min="0" class="form-control" id="price" name="price"
                                   placeholder="Price in tg">
                        </div>
                       <div class="form-group">
                           <label for="size">Image</label>
                           <select class="custom-select" id="size" name="size">
                            <option selected value="S">Small</option>
                            <option value="M">Medium</option>
                            <option value="L">Large</option>
                        </select>
                       </div>
                        <div class="form-group">
                            <label for="image">Image</label>
                            <input type="text" class="form-control" id="image" name="image"
                                   placeholder="Image link">
                        </div>



                        <!-- Login Button -->
                        <div class="form-actions" style="margin-top: 12px;">
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"/>

</body>
</html>