<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include Bootstrap for styling -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="icon" href="https://www.flaticon.com/premium-icon/icons/svg/562/562678.svg">

    <style>
        .qr-code {
            width: 300px;
            margin: 10px;
        }
    </style>

    <title>QR Code Generator</title>
</head>

<body>
<script src="CatalogFunctions.js"></script>
<navbar th:insert="blocks/header :: header"/>

<div class="container-fluid text-center ">
    <div class="text-center ">

        <!-- Get a Placeholder image initially,
         this will change according to the
         data entered later -->
        <img src=""
             class="qr-code shadow p-2 rounded border border-danger"/>
    </div>

    <div class="form-horizontal d-none">
        <div class="form-group">
            <label class="control-label col-sm-2"
                   for="content">
                Content:
            </label>
            <div class="col-sm-10">

                <!-- Input box to enter the
                    required data -->
                <input type="text" size="60"
                       maxlength="60" class="form-control text-center ml-5"
                       id="content" placeholder="Enter content" th:value="${food}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 text-center">

                <!-- Button to generate QR Code for
                 the entered data -->
                <button type="button" class=
                        "btn btn-success" id="generate">
                    Generate
                </button>
            </div>
        </div>
    </div>
</div>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" th:fragment="blog">
    <h1 class="display-4">QR Code</h1>
    <p class="lead">Scan it to Order</p>
</div>
<footer th:insert="blocks/footer :: footer"/>

<script src=
                "https://code.jquery.com/jquery-3.5.1.js">
</script>

<script>

    function htmlEncode(value) {
        return $('<div/>').text(value)
            .html();
    }

    $(document).ready($(function () {
        let finalURL =
            'https://chart.googleapis.com/chart?cht=qr&chl=' +
            htmlEncode($('#content').val()) +
            '&chs=300x300&chld=L|0'
        $('.qr-code').attr('src', finalURL);
    }));


</script>

</body>

</html>