<div class="d-flex position-relative overflow-hidden p-2 p-md-5 m-md-3 text-left shadow rounded" th:fragment="carousel" style='background-position:center center;
background-image: url("https://www.mcgill.ca/oss/files/oss/styles/hd/public/eatables-3873462_1920.jpg?itok=u-zzZg1P&timestamp=1560998397")'>
    <div class="col-md-5 p-lg-5  my-5 shadow" style="background-color: white;opacity: 0.9;">
        <h1 class="display-4 font-weight-normal" style="color: black;">Restaurant</h1>
        <p style="color: black;" class="lead font-weight-normal">Quickly order the food by the QR-Code or surf the website ,find your chair,verification and let you pick loved ones🥰!!!</p>
        <a class="btn btn-outline-secondary" href="/about">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>